@import "../App.css";

.CenterTabs {
    width: 100%;
    display: flex;
    justify-content: center;
}
.CenterTabs#Work {
    background-color: rgba(255, 255, 255, 0.75);
}
.CenterTabs#Education {
    background-color: rgb(0, 0, 0, 0.5);
}

.Tabs {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: var(--tab-height);
}

.Tab {
    margin-top: calc(var(--tab-height)/2 - min(2vmax, 1.75rem)/1.8);
    margin-left: 2.5vw;
    margin-right: 2.5vw;

    font-family: var(--title-font);
    font-size: min(2vmax, 1.75rem);
    letter-spacing: max(0.25vw, 2px);
    /* line-height: 100%; */

    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

p#pText {
    margin: 0;
}

/* Page Specific Text */
.Tab#Home {
    color: whitesmoke;
    font-weight: 400;
}
.Tab#Home:hover {
    text-shadow: 0 0 0.1vw whitesmoke;
    font-weight: 800;
}

.Tab#Work {
    color: black;
    font-weight: 400;
    
}
.Tab#Work:hover {
    text-shadow: 0 0 0.1vw whitesmoke;
    font-weight: 800;
}

.Tab#Education {
    color: whitesmoke;
    font-weight: 400;
}
.Tab#Education:hover {
    text-shadow: 0 0 0.1vw whitesmoke;
    font-weight: 800;
}

.Tab#Portfolio {
    color: black;
    font-weight: 400;
}
.Tab#Portfolio:hover {
    text-shadow: 0 0 0.1vw black;
    font-weight: 800;
}
