@import "../App.css";

.CenterTabs {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Tabs {
    width: var(--body-width);
    display: flex;
    overflow: hidden;
    height: max(4vw, 2.3rem);
}

.Filler {
    position: relative;
    text-align: center;
    width: 100%;
}

.Tab {
    font-family: var(--title-font);
    position: relative;
    top: min(-0.75vw, -1rem);
    color: whitesmoke;
    font-weight: 400;
    font-size: min(2vmax, 1.75rem);
    letter-spacing: 4px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.Tab:hover {
    font-weight: 800;
    text-shadow: 0 0 0.125vw white;
}