@import "../App.css";

.Footer {
    position: relative;
    width: 100%;
    height: max(min(6.25vw, 12vh), 5rem);
    /* background-color: var(--home-color); */
    text-align: center;

    background-image: url("../../images/Backgrounds/HomeBackground.jpg");
    background-repeat: no-repeat;

    -moz-background-attachment: fixed;
    -webkit-background-attachment: fixed;
    -o-background-attachment: fixed;
    background-attachment: fixed;

    -webkit-background-size: 100vmax 100%;
    -moz-background-size: 100vmax 100%;
    -o-background-size: 100vmax 100%;
    background-size: 100vmax 100%;
}

.FooterTabs {
    padding-left: calc(50vw - var(--body-width)/2);
    padding-right: calc(51vw - var(--body-width)/2);
    display: flex;
    overflow: hidden;
}

.FooterFiller {
    width: 100%;
    position: relative;
    text-align: center;
}

.FooterTab {
    font-family: var(--title-font);
    position: relative;
    z-index: 1;
    top: 1vw;
    font-weight: 600;
    font-size: max(min(1.25vw, 55vh), 0.75rem);
    letter-spacing: 4px;
}