@import "../App+/App.css";

.WorkLink {
    font-family: var(--title-font);
    font-weight: 400;
    position: absolute;
    z-index: 1;
    top: 0.75vh;
    left: 3vw;
}

.WorkLink:hover {
    transform: scale(1.025, 1.025);
}

#WorkLink {
    font-size: calc(3vh + 0.5vw);
    font-weight: bold;
    text-decoration: underline;
    color: var(--header-text-color);
}

.Work {
    position: relative;
    height: 15vh;
    background-color: rgb(220, 220, 220);
    box-shadow: 0px 0px 2vh grey;
}

.WorkTitles {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
}

h1#Work {
    position: relative;
    font-family: var(--title-font);
    color: var(--header-text-color);
    background-color: transparent;
    font-weight: 800;
    letter-spacing: 2vw;
    font-size: 6vw;
    width: 100%;
    bottom: 1vh;
}

p#Experience {
    position: absolute;
    margin-left: 2vw;
    bottom: min(calc(30vh - 7.5vw), 15rem);
    color: var(--header-text-color);
    letter-spacing: 7.5vw;
    font-size: min(5vw, 5rem);
    width: 100%;
    text-align: center;
}

.BottomBar::before {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    background-color: #0f0f10;
    height: 85%;
}

.IBM {
    height: 100vh;
    background-color: #0f62fe;
}

.imageIBM {
    padding-top: 4vw;
    padding-left: var(--left-pad-text);
    width: 20vw;
}

.BROCC {
    height: 100vh;
    background-color: black;
}

.imageBROCC {
    padding-top: 4vw;
    padding-left: var(--left-pad-text);
    width: 30vw;
}

.ANALOGIC {
    height: 100vh;
    background-color: rgb(26, 108, 185);
}

.imageANALOGIC {
    padding-top: 4vw;
    padding-left: var(--left-pad-text);
    width: 25vw;
}

.PS6 {
    height: 100vh;
    background-color: #dc2728;
}

.imagePS6 {
    padding-top: 4vw;
    padding-left: var(--left-pad-text);
    width: 25vw;
}


/* SIDEBAR */

.IBM2 {
    height: 50vh;
}

/* From the internet */

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.fa-2x {
font-size: 2em;
}

.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:40vw;                                /*WIDTH HERE*/
overflow:visible;
}

.main-menu {
background:#212121;
border-top: 2px solid white;
border-right:1px solid #e5e5e5;
position:absolute;
bottom:0;                                 /*Here for HEIGHT of sidebar*/
right:0;                                    /*Here for left/right of sidebar*/
width:200px;
border-top-left-radius: 6px;
border-bottom-left-radius: 6px;
overflow:hidden;
-webkit-transition:width .1s linear;
transition:width .1s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

#IBMText1 {
    position: relative;
    width: 93vw;
    top: 1vw;
    left: var(--left-pad-text);
    color: white;
    font-size: min(1.3rem, calc(0.75vw + 1vh));
    font-weight: 400;
    font-family: var(--text-font);
    line-height: calc(0.75vw + 1vh + 7.5px);
}

#BroccText1 {
    position: relative;
    width: 93vw;
    top: 2vw;
    left: var(--left-pad-text);
    color: white;
    font-size: min(1.3rem, calc(0.75vw + 1vh));
    font-weight: 400;
    font-family: var(--text-font);
    line-height: calc(1vw + 1vh + 7.5px);
}

#AnalogicText1 {
    position: relative;
    width: 93vw;
    top: 1vw;
    left: var(--left-pad-text);
    color: white;
    font-size: min(1.3rem, calc(0.75vw + 1vh));
    font-weight: 400;
    font-family: var(--text-font);
    line-height: calc(1vw + 1vh + 7.5px);
}

#PS6Text1 {
    position: relative;
    width: 93vw;
    top: 1vw;
    left: var(--left-pad-text);
    color: black;
    font-size: min(1.3rem, calc(0.75vw + 1vh));
    font-weight: 500;
    font-family: var(--text-font);
    line-height: calc(1vw + 1vh + 7.5px);
}

/* MARGIN from top */
.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

/* SIDEBAR content FONTS */
.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
font-family: arial;
font-size: 20px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
}

.main-menu li>a#IBMSide {
    color:white;
}
.main-menu li>a#BROCCSide {
    color:black;
}
.main-menu li>a#ANALOGICSide {
    color:rgb(26, 108, 185);
}
.main-menu li>a#PS6Side {
    color:black;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

/* ICONS before expanding */
nav ul,nav li {
outline:0;
margin:0;
padding:0;
}

/* HIGHLIGHTS */
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}

/* MIGHT NOT BE USED */
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

/* BLOBS */


.container{
    margin-left: 20rem;
    width:320px;
    height:320px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
    }

h1{
    background:#fff;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    display:flex;
    font-size:90px;
    font-weight:700;
    flex-flow:row wrap;
    align-content:center;
    justify-content:center
    }

h1 span:before{
    background:linear-gradient(45deg,#fc5c7d,#6a82fb,#fc5c7d);
    width:100%;
    height:100%;
    display:block;
    position:absolute;
    content:"";
    mix-blend-mode:screen
    }

[class*="blobs"]
    {mix-blend-mode:color;animation:blobs 15s ease-in-out infinite alternate}

.blobs_1{
    background:#ff1493;
    width:60px;
    height:60px;
    top:90px;
    left:210px
    }

.blobs_2{
    background:#ff4500;
    width:80px;
    height:80px;
    top:155px;
    left:230px
    }

.blobs_3{
    background:#00ff00;
    width:60px;
    height:60px;
    top:145px;
    left:20px
    }

.blobs_4{
    background:#ff0000;
    width:100px;
    height:100px;
    top:115px;
    left:100px
    }

.blobs_5{
    background:#ffff00;
    width:50px;
    height:50px;
    top:55px;
    left:70px
    }

.blobs_6{
    background:#00ffff;
    width:60px;
    height:60px;
    top:220px;
    left:55px
    }

.blobs_7{
    background:#ff8c00;
    width:50px;
    height:50px;
    top:210px;
    left:180px
    }

@keyframes blobs{
    0%{border-radius:26% 74% 61% 39% / 54% 67% 33% 46%}
    10%{border-radius:74% 26% 47% 53% / 68% 46% 54% 32%}
    20%{border-radius:48% 52% 30% 70% / 27% 37% 63% 73%}
    30%{border-radius:73% 27% 57% 43% / 28% 67% 33% 72%}
    40%{border-radius:63% 37% 56% 44% / 25% 28% 72% 75%}
    50%{border-radius:39% 61% 70% 30% / 61% 29% 71% 39%}
    60%{border-radius:27% 73% 29% 71% / 73% 51% 49% 27%}
    70%{border-radius:39% 61% 65% 35% / 74% 65% 35% 26%}
    80%{border-radius:55% 45% 37% 63% / 38% 30% 70% 62%}
    90%{border-radius:25% 75% 70% 30% / 39% 50% 50% 61%}
    100%{border-radius:66% 34% 33% 67% / 65% 73% 27% 35%}
    }

.FooterTab#Work {
    color: whitesmoke;
    font-family: 'Exo', sans-serif;
    }

.FillerWork {
    width: 100%;
    position: relative;
    text-align: center;
    border-top-left-radius: 10vh;
    border-top-right-radius: 10vh;
    /* border-bottom: min(0.5vw, 4px) solid rgb(255, 243, 220);
    border-left: min(0.25vw, 2px) solid rgb(255, 243, 220);
    border-right: min(0.25vw, 2px) solid rgb(255, 243, 220); */
    /* border-right: 2px solid rgb(0, 0, 0, 0.85); */
    /* background-color: rgba(50, 50, 50, 0.7); */
    /* background: linear-gradient(rgba(82, 56, 6, 0), var(--header-text-color)); */
}
.FillerWork:before,
.FillerWork:after {
  position: absolute;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-top: 2px solid var(--header-text-color);
}
/* Line before hover */
.FillerWork:before {
  top: 0%;
  display: block;
  height: 110%;
  width: 100%;
  content: "";
  border-top-left-radius: 10vh;
  border-top-right-radius: 10vh;
  background-color: rgb(255, 255, 255, 0);
}

.FillerWork:hover:before,
.current .Filler:before {
    top: 0%;
    opacity: 1;
    height: 110%;
    border-top-left-radius: 10vh;
    border-top-right-radius: 10vh;
    border-top: 2px solid white;
}

.FillerWork:hover:before {
    color: white;
}

.TabsWork {
    position: absolute;
    top: var(--header-height);
    width: 97.5%;
    display: flex;
    overflow: hidden;
    height: max(4vw, 2.3rem);
}

@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Bowlby+One&family=Chivo:wght@300;400;700;900&family=Erica+One&family=Luckiest+Guy&family=Monoton&family=Mrs+Sheppards&family=Nanum+Brush+Script&family=Permanent+Marker&family=Righteous&family=Sedgwick+Ave&display=swap");

.TabWork {
    position: relative;
    z-index: 1;
    top: min(-1.35vw, -0.5rem);
    color: var(--header-text-color);
    font-weight: 500;
    font-size: max(2vw, 1rem);
    letter-spacing: 0.125vw;
}

.Signal {
    position: relative;
    bottom: 2vh;
    height: 2vh;
    width: 100%;
}