.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Footer {
  position: relative;
  width: 100%;
  height: max(min(6.25vw, 12vh), 5rem);
  background-color: var(--home-color);
  text-align: center;
}

.FooterTabs {
  padding-left: calc(50vw - var(--body-width)/2);
  padding-right: calc(51vw - var(--body-width)/2);
  display: flex;
  overflow: hidden;
}

.FooterFiller {
  width: 100%;
  position: relative;
  text-align: center;
}

.FooterTab {
  font-family: var(--font-title);
  position: relative;
  z-index: 1;
  top: 1vw;
  font-weight: 600;
  font-size: max(min(1.25vw, 55vh), 0.75rem);
  letter-spacing: 4px;
}

p#ReturnHome {
  padding-top: 2vh;
  margin-left: 49%;
  font-size: 2vh;
  font-weight: 700;
  color: white;
}