:root {
    --padding-top-bottom-header-image: 25vh;
    --home-color: rgb(210, 255, 249);
    --counter-color-dark: rgb(25, 114, 110);
    --counter-color: rgb(64, 164, 159);
    --animation-time: 30s;
    --profile-image-height: 17.5vw;
    --name-box-border-radius: 7.5vw;
    --image-border: 0.6vw;

    --body-width: min(90vw, 90vh, 70rem);
    --font-title: "Georgia";
    --font-text: "Palatino";
}

.header#Home {
    background-color: var(--home-color);
    box-shadow: 0 0 2.5vw var(--counter-color-dark);
    border-bottom: 2px solid var(--counter-color);
}

.CenterCircle {
    position: relative;
    /* padding-top: var(--padding-top-bottom-header-image); */
    padding-bottom: var(--padding-top-bottom-header-image);
    height: 60vh;

    -ms-transform: translateX(-50%);
    transform: translateX(0%);
}

@media (prefers-reduced-motion: no-preference) {
    .imageLEO {
        animation: imageSize;
        animation-duration: var(--animation-time);
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        border: var(--image-border) solid var(--counter-color);
        box-shadow: 0 0 0.25vw var(--counter-color-dark);
    }
  }
  @keyframes imageSize {
    0%, 14% {
        height: var(--profile-image-height);
        border-radius: 100%;
    }
    17.5%, 43% {
        height: calc(var(--profile-image-height) - 8vw);
        border-radius: 20%;
    }
    46.5%, 64% {
        height: var(--profile-image-height);
        border-radius: 100%;
    }
    67.5%, 93% {
        height: calc(var(--profile-image-height) - 8vw);
        border-radius: 20%;
    }
    96.5%, 100% {
        height: var(--profile-image-height);
        border-radius: 100%;
    }
  }

.Name {
    font-family: var(--font-title);
    z-index: -1;
    position: absolute;
    height: var(--profile-image-height);
    line-height: var(--profile-image-height);
    top: calc(var(--padding-top-bottom-header-image) + 2vh - 9.5vw);
    font-size: 7.5vw;
    color: var(--home-color);
}

.Name#First {
    left: 8vw;
}

.Name#Last {
    right: 8vw;
}

/* Profile IMAGE (3.5% increments)*/ 
@media (prefers-reduced-motion: no-preference) { 
    .Profile {
      animation: ProfExpand;
      animation-duration: var(--animation-time);
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      /* animation-direction: alternate-reverse; */
    }
  }
  @keyframes ProfExpand {
    0% {
        padding-top: var(--padding-top-bottom-header-image); /* CENTER */
        padding-left: 40vw;
    }
    3.5%, 7% {
        padding-top: var(--padding-top-bottom-header-image);
        padding-left: 31vw;
    }
    10.5%, 14% {
        padding-top: var(--padding-top-bottom-header-image); /* BACK TO CENTER */
        padding-left: 40vw;
    }
    17.5%, 43% {
        padding-top: calc(38vh - 15vw - 2vw);
        padding-left: 2vw;
    }
    46.5%, 50% {
        padding-top: var(--padding-top-bottom-header-image); /* BACK TO CENTER */
        padding-left: 40vw;
    }
    53.5%, 57% {
        padding-top: var(--padding-top-bottom-header-image);
        padding-left: 31vw;
    }
    60.5%, 64% {
        padding-top: var(--padding-top-bottom-header-image); /* BACK TO CENTER */
        padding-left: 40vw;
    }
    67.5%, 93% {
        padding-top: calc(38vh - 15vw - 2vw);
        padding-left: calc(96% - var(--profile-image-height) + 8vw);
    }
    96.5%, 100% {
        padding-top: var(--padding-top-bottom-header-image); /* BACK TO CENTER */
        padding-left: 40vw; 
    }
  }

/* NAME EXPAND */
@media (prefers-reduced-motion: no-preference) {
    .NameBack {
        animation: Expand;
        animation-duration: var(--animation-time);
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;

        box-shadow: 0 0 10px var(--counter-color-dark);
        z-index: -2;
        position: absolute;
        top: calc(var(--padding-top-bottom-header-image) + var(--image-border));
        height: var(--profile-image-height);
        background-color: var(--counter-color-dark);
        border-radius: var(--name-box-border-radius);
        border-radius: var(--name-box-border-radius);
    }
  }
  @keyframes Expand { /* 0, 5, 10, 12.5 ... 52.5, 57.5, 62.5, 65 */
    0% {
        left: 50%;
        width: 0rem;
    }
    3.5%, 7.5% {
        left: 5%;
        width: 90%;
    }
    10.5%, 50% {                                                           /* End Profile expand */
        left: 50%;
        width: 0rem;
    }
    53.5%, 57% {
        left: 5%;
        width: 90%;
    }
    60.5% {
        left: 50%;
        width: 0%;
    }
  }

.Spacer {
    z-index: -2;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: min(85%, 40vw);
    background-color: transparent;
}

/* BIG WHITE AREA EXPAND */
@media (prefers-reduced-motion: no-preference) {
    .LargeExpand {
      animation: LargeExpand;
      animation-duration: var(--animation-time);
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      box-shadow: 0 0 0.5vw var(--counter-color-dark);
      display: flex;
      /* animation-direction: alternate-reverse; */
    }
  }
  @keyframes LargeExpand { /* 0, 5, 10, 12.5 ... 52.5, 57.5, 62.5, 65 */
    0%, 14% {
        z-index: -1;
        position: absolute;
        top: calc(var(--padding-top-bottom-header-image) + 10vw);
        left: 50%;
        width: 0%;
        height: 0%;
        background-color: white;
    }
    17.5%, 43% {
        z-index: -1;
        position: absolute;
        top: calc(38vh - 15vw);
        left: 5%;
        width: 90%;
        height: min(85%, 40vw);
        background-color: white;
        border-radius: 1vw;
    }
    46.5%, 64% {
        z-index: -1;
        position: absolute;
        top: calc(var(--padding-top-bottom-header-image) + 10vw);
        left: 50%;
        width: 0%;
        height: 0%;
        background-color: white;
    }
    67.5%, 93% {
        z-index: -1;
        position: absolute;
        top: calc(38vh - 15vw);
        left: 5%;
        width: 90%;
        height: min(85%, 40vw);
        background-color: white;
        border-radius: 1vw;
    }
    96.5%, 100% {
        z-index: -1;
        position: absolute;
        top: calc(var(--padding-top-bottom-header-image) + 10vw);
        left: 50%;
        width: 0%;
        height: 0%;
        background-color: white;
    }
}

/* BIG AREA CONTENT */

.imageExpand {
    margin-top: 8%;
    padding-left: min(5rem, 5%);
    border-radius: 70%;
    object-fit: cover;
    width: 40%;
    height: min(25vw, 60%);
}

#expandHeader {
    font-size: min(2vw, 2.5rem);
    font-weight: 600;
    font-family: var(--font-title);
}

#expandText {
    font-family: var(--font-text);
    font-size: min(1.5vw, 2rem);
    font-weight: 300;
    padding-bottom: 0.5rem;
}

@media (prefers-reduced-motion: no-preference) { 
    .galleryText {
        padding-top: 8%;
        padding-left: 4vw;
        padding-right: 2vw;
        height: 20%;

        animation: GalleryTextFade;
        animation-duration: var(--animation-time);
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        /* animation-direction: alternate-reverse; */
    }
  }
  @keyframes GalleryTextFade { /* 0, 5, 10, 12.5 ... 52.5, 57.5, 62.5, 65 */
    0%, 19% {
        opacity: 0;
    }
    22%, 38.5% {
        opacity: 1;
    }
    41.5%, 69% {
        opacity: 0;
    }
    72%, 88.5% {
        opacity: 1;
    }
    91.5%, 100% {
        opacity: 0;
    }
}

.GalleryButton {
    font-family: var(--font-text);
    border-radius: 0.25vw;
    background-color: var(--counter-color-dark);
    box-shadow: 0 0 0.125vw var(--counter-color-dark);
    color: var(--home-color);
    font-size: 1.5vw;
    font-weight: 600;
    width: 7.25vw;
    text-align: center;
}

.GalleryButton:hover {
    transform: scale(1.025, 1.025);
}

#GalleryButton {
    padding-top: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 0.5vw;   
}

  /* TABS */

.Tabs {
    width: 100%;
    display: flex;
    overflow: hidden;
    height: 4vw;
}

.Filler {
    width: 100%;
    position: relative;
    text-align: center;
    border-left: 1px solid var(--counter-color);
    border-right: 1px solid var(--counter-color);
}

.Filler:before,
.Filler:after {
  position: absolute;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* Line before hover */
.Filler:before {
  top: 50%;
  display: block;
  height: 0vw;
  width: 100%;
  content: "";
  background-color: var(--counter-color);
}

/* Line after hover */
.Filler:after {
  left: 2rem;
  top: 50%;
  position: absolute;
  content: attr(data-hover);
  color: rgb(255, 255, 255);
  max-width: 0%;
  overflow: hidden;
}

.Filler:hover:before,
.current .Filler:before {
    top: 0%;
    opacity: 1;
    height: 110%;
}

.Tab {
    font-family: var(--font-title);
    position: relative;
    z-index: 1;
    top: -0.75vw;
    color: var(--counter-color-dark);
    font-weight: bold;
    font-size: 1.75vw;
    letter-spacing: 4px;
}

  /* BODY */

h2#Home {
    font-family: var(--font-title);
    font-size: 4.5vh;
    color: var(--counter-color-dark);
    text-shadow: 2px 2px 2px var(--counter-color);
    padding-top: 2vh;
}

h3#Home {
    font-family: var(--font-title);
    font-size: 3.5vh;
    color: rgb(54, 54, 54);
}

p#Home {
    font-family: var(--font-text);
    font-weight: 500;
    font-size: 2vh;
    line-height: 4vh;
    text-align: justify;
    color: rgb(52, 52, 52);
  }

.body#Home {
    padding-left: calc(50vw - var(--body-width)/2);
    padding-right: calc(50vw - var(--body-width)/2);
}

.ResumePosition {
    -ms-transform: translateX(-50%);
    transform: translateX(0%);
}

.ResumePDF {
    width: var(--body-width);
    height: calc(1.3*var(--body-width));
    /* max-width: 50rem; */
    max-height: 65rem;
}