:root {
    --padding-top-bottom-header-image: 15rem;
    --home-color: rgb(91, 176, 182);
    --animation-time: 3s;
}

.header#Home {
    background-color: var(--home-color);
}

.CenterCircle {
    position: relative;
    padding-top: var(--padding-top-bottom-header-image);
    padding-bottom: var(--padding-top-bottom-header-image);

    -ms-transform: translateX(-50%);
    transform: translateX(0%);
}

.Circle {
    background-color: white;
    height: 30rem;
    width: 30rem;
    border-radius: 100%;
}

.imageLEO {
    border: 2rem solid white;
    width: 17.5rem;
    border-radius: 100%;
}

.Name {
    z-index: 1;
    position: absolute;
    top: 8rem;
    font-size: 8rem;
    color: var(--home-color);
}

h2.HomeName {
    
}

.Name#First {
    left: 10rem;
}

.Name#Last {
    z-index: -1;
    right: 10rem;
}

/* Profile IMAGE */
@media (prefers-reduced-motion: no-preference) {
    .Profile {
      animation: ProfExpand;
      animation-duration: var(--animation-time);
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-direction: alternate-reverse;
    }
  }
  @keyframes ProfExpand {
    from {
        padding-left: 40%;
    }
    to {
        padding-left: 32%;
    }
  }

/* FIRST NAME */
@media (prefers-reduced-motion: no-preference) {
    .FirstNameBack {
      animation: FNExpand;
      animation-duration: var(--animation-time);
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-direction: alternate-reverse;
    }
  }
  @keyframes FNExpand {
    from {
        z-index: -2;
        position: absolute;
        top: calc(var(--padding-top-bottom-header-image) + 2rem);
        right: 50%;
        height: 17.5rem;
        width: 0rem;
        background-color: white;
    }
    to {
        z-index: -2;
        position: absolute;
        top: calc(var(--padding-top-bottom-header-image) + 2rem);
        right: 50%;
        width:45%;
        height: 17.5rem;
        background-color: white;
        border-top-left-radius: 5rem;
        border-bottom-left-radius: 5rem;
    }
  }

  /* LAST NAME */
@media (prefers-reduced-motion: no-preference) {
    .LastNameBack {
      animation: LNExpand;
      animation-duration: var(--animation-time);
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-direction: alternate-reverse;
    }
  }
  @keyframes LNExpand {
    from {
        z-index: -2;
        position: absolute;
        top: calc(var(--padding-top-bottom-header-image) + 2rem);
        left: 50%;
        height: 17.5rem;
        width: 0rem;
        background-color: white;
    }
    to {
        z-index: -2;
        position: absolute;
        top: calc(var(--padding-top-bottom-header-image) + 2rem);
        left: 50%;
        width:45%;
        height: 17.5rem;
        background-color: white;
        border-top-right-radius: 5rem;
        border-bottom-right-radius: 5rem;
    }
  }

  /* TABS */

.Tabs {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.Tab {
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 2vw;
    text-decoration: none;
    width: 100%;
    position: relative;
    text-align: center;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.Tab:before,
.Tab:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
/* Line before hover */
.Tab:before {
  bottom: -1rem;
  display: block;
  height: 2vw;
  width: 0%;
  content: "";
  background-color: #ffffff;
}

/* Line after hover */
.Tab:after {
  left: 2rem;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: rgb(255, 255, 255);
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}

.Tab:hover:before,
.current .Tab:before {
  opacity: 1;
  width: 100%;
}

.Tab:hover:after,
.current .Tab:after {
  max-width: 100%;
}

  /* BODY */

  h2#Home {
        padding-top: 2rem;
        padding-left: 5rem;
  }

  h3#Home {
        padding-left: 6rem;
  }

  p#Home {
        padding-left: 8rem;
        font-size: 1.5rem;
        line-height: 2rem;
        width: 85%;
  }

  .body#Home {

  }

.ResumePosition {
    padding-left: 25%;
    -ms-transform: translateX(-50%);
    transform: translateX(0%);
}

  .ResumePDF {
    width: 60vw;
    height: 78vw;
    max-width: 50rem;
    max-height: 65rem;
  }