:root {
    --header-height: 80vh;
    --block-height: min(calc(var(--header-height)/2 - 2vw), 27vw);
    --block-width: calc(1.75*var(--block-height));
    --spacing: 1.5vw;
    --iconHeight: 10vw;
    --portfolio-body-width: min(90vw, 70rem, max(var(--scale)*var(--header-height), 60vh));
    --scale: 1.5;
}

/* HOME BUTTON */

.PortfolioLink {
    position: absolute;
    z-index: 1;
    top: 0.75vw;
    left: 3vw;
}

.PortfolioLink:hover {
    transform: scale(1.025, 1.025);
}

#PortfolioLink {
    font-family: "impact";
    font-size: calc(3vh + 0.5vw);
    font-weight: bold;
    line-height: 1.75vw;
    letter-spacing: 0.125vw;
    text-decoration: underline;
    color: white;
}

/* HEADER */

.PortfolioHeader {
    position: absolute;
    top: 0%;
    height: calc(var(--header-height) + 9vw);
    width: 100%;
	background: linear-gradient(-45deg, #ad41ff, #ff4646, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.LeftMargin {
    position: absolute;
    top: 0;
    height: calc(var(--header-height) + 1vw);
    width: calc(50vw - var(--scale)*var(--header-height)/2 - 3*var(--spacing)/2);
    background-color: black;
    opacity: 0.4;
}

.RightMargin {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(var(--header-height) + 1vw);
    width: calc(50vw - var(--scale)*var(--header-height)/2 - 3*var(--spacing)/2);
    background-color: black;
    opacity: 0.4;
}

.TopMargin {
    position: absolute;
    top: 0;
    height: calc(var(--header-height)/2 - var(--block-height) - 3*var(--spacing)/2);
    width: 100%;
    background-color: black;
    opacity: 0.4;
}

.BottomMargin {
    position: absolute;
    top: calc(var(--header-height) - calc(var(--header-height)/2 - var(--block-height) - 3*var(--spacing)/2) + 1vh);
    height: calc(var(--header-height)/2 - var(--block-height) - 3*var(--spacing)/2);
    width: 100%;
    background-color: black;
    opacity: 0.4;
}

.Blocks {
    position: relative;
    top: calc(var(--header-height)/2 - var(--block-height) - 3*var(--spacing)/2);
    left: max(calc(50vw - var(--scale)*var(--header-height)/2 - 3*var(--spacing)/2), 0vw);
    height: var(--header-height);
    width: calc(var(--scale)*var(--header-height));
    display: flex;
    flex-direction: column;
}

.Top {
    position: relative;
    top: var(--spacing);
    height: var(--block-height);
    width: calc(var(--scale)*var(--header-height));
    display: flex;
}

.Bottom {
    position: relative;
    top: calc(2*var(--spacing));
    height: var(--header-height);
    width: calc(var(--scale)*var(--header-height));
    display: flex;
}

/* Q1 */

.Q1 {
    left: var(--spacing);
}

.Q1:hover .BlockTop {
    visibility: visible;
    opacity: 1;
}

.BlockTop {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    top: 0;
    width: 100%;
    height: 3vw;
    background-color: black;
    border-top-left-radius: 0.25vw;
    border-top-right-radius: 0.25vw;
    text-align: center;
    transition: 0.5s;
}

.Q1:hover .TitleText1 {
    opacity: 0;
    visibility: hidden;
}

#DS-Box-Title {
    position: relative;
    top: -1vw;
    font-size: 1.5vw;
    font-weight: 800;
    letter-spacing: 0.5vw;
}

.Q1:hover #DS-Box-Text {
    visibility: visible;
    opacity: 1;
}

#DS-Box-Text {
    visibility: hidden;
    opacity: 0;

    position: relative;
    top: -8vw;
    color: black;
    font-size: 0.8vw;
    line-height: 2.5vw;
}

/* Q2 */

.Q2 {
    left: calc(2*var(--spacing));
}

.Q3 {
    left: var(--spacing);
}

.Q4 {
    left: calc(2*var(--spacing));
}

.Q1, .Q2, .Q3, .Q4 {
    position: relative;
    width: var(--block-width);
    height: var(--block-height);
    background-color: transparent;
    border-radius: 0.25vw;
    transition: 0.25s;
    box-shadow: 0 0 0.25vw white;
    font-weight: 600;
    color: white;
    border: 0.4vw solid white;
}

.Q1:hover, .Q2:hover, .Q3:hover, .Q4:hover {
    transform: scale(1.025, 1.025);
    transition: 0.5s;
    background-color: rgb(244, 244, 244);
    --image: url('./images/CodeImage.jpg');
}

.TitleText1 {
    position: relative;
    height: calc(var(--block-height) - 2vw);
    top: 1vw;
    left: 1vw;
    transition: 0.5;
}

.TitleText2 {
    position: relative;
    height: calc(var(--block-height) - 2vw);
    top: 1vw;
    left: 1vw;
}

.TitleText3 {
    position: relative;
    height: calc(var(--block-height) - 2vw);
    top: 1vw;
    left: 1vw;
}

.Image {
    position: absolute;
    z-index: 1;
    top: calc(20vw - var(--iconHeight)/2);
    left: calc(49.7vw - var(--iconHeight)/2);
    height: var(--iconHeight);
    width: var(--iconHeight);
    background-image: var(--image);
    border: 5px solid black;
    border-radius: 100%;
}

/* Body */

h1#Portfolio {
    font-family: "impact";
    position: relative;
    z-index: 1;
    margin-top: calc(var(--header-height) + 1vw);
    margin-bottom: 0%;
    padding-left: calc(50vw - 14vw - var(--scale)*var(--header-height)/2);
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 6vw;
    font-weight: 900;
    color: white;
    letter-spacing: 4.8vw;
    line-height: 8vw;
    text-align: center;
    box-shadow: 0 0 10px black;
    text-shadow: 0 0 0.1vw white;
}

.PortfolioBody {
    margin-left: calc(50vw - var(--portfolio-body-width)/2);
    margin-right: calc(50vw - var(--portfolio-body-width)/2);
    text-align: justify;
}

h2.Section {
    font-family: "impact";
    font-size: 4vh;
    font-weight: 800;
    margin-top: 8vh;
    padding-top: 0.5vh;
    margin-bottom: 2vh;
    border-top: 0.5vh solid black;
}

div.TBC{
    width: 100%;
    text-align: center;
}

h2.TBC {
    font-family: "impact";
    font-size: 3.5vh;
    font-weight: 800;
    margin-top: 3vh;
    margin-bottom: 0%;
    color: rgb(42, 42, 42);
    margin-bottom: 6vh;
    padding-top: 3vh;
    border-top: 0.5vh solid black;
}

h3.Section {
    font-family: "impact";
    font-size: 2.75vh;
    font-weight: 800;
    margin-bottom: 2vh;
    color: rgb(58, 58, 58);
}

p.Section {
    font-family: "gill sans";
    /* text-shadow: 0 0 1px; */
    font-size: 2.5vh;
    font-weight: 400;
    line-height: 4vh;
    color: rgb(51, 51, 51);
}

.Project {
    margin-bottom: 8vh;
}

/* GALLERY */

.image-container {
    width: 100%;
    height: 500px;
    cursor: pointer;
    overflow: hidden;
}

.Gallery {
    height: calc(var(--portfolio-body-width)/2);
    width: var(--portfolio-body-width);
}

.TEDVideo {
    margin-left: 3%;
    width: 94%;
    height: calc(0.56*var(--portfolio-body-width)*0.94)
}